<div class="notessidemenu">
  <%= link_to new_folder_path, :class => 'cancel-link' do %>
    <div id='new-folder'>
      <div id='new-folder-plus'>+</div> New Note
    </div>
  <% end %>
  <% notes.each do |note| %>
    <%= link_to folder_note_path(folder.id, note.id), :class => 'cancel-link block' do %>
      <div class='item'>
        <%= note.title %> 
      </div>
    <% end %>
  <% end %>
</div>
