<div class="foldersidemenu">
  
  <%= link_to new_folder_path, :class => 'cancel-link' do %>
    <div id='new-folder'>
      <div id='new-folder-plus'>+</div> New Folder
    </div>
  <% end %>
  
  <% folders.each do |folder| %>
    <%= link_to folder_notes_path(folder.id), :class => 'cancel-link block' do %>
      <div class='item'>
        <%= folder.name %> 
      </div>
    <% end %>
  <% end %>
  
</div>
