<div class="notessidemenu">
  <% if @notes.empty? %>
    <p>
      No Notes..
    </p>
  <% end %>
  <% @notes.each do |note| %>
    <div class="item" onClick="showNote(<%= note.id %>)" >
      <%= note.title %>
    </div>
  <% end %>
</div>
