<div class="foldersidemenu">
  <div id="new-folder" onClick="newFolder()">
    <div id="new-folder-plus">+</div>
    <div class='inline'> New Folder </div>
  </div>
  <% @folders.each do |folder| %>
    <div class="item" onClick="showNotes(<%= folder.id %>)" >
      <%= folder.name %>
    </div>
  <% end %>
</div>

<div id="notes-target">
</div>

<div class="main"></div>

<div id="modal-holder"></div>

<script type="text/javascript" data-turbolinks-eval=false>
  function showNotes(id){
    fetch('/get_notes/'+id).
    then(function(res){
      return res.text();
    }).
    then((res)=>{
      $("#notes-target").html(res);
    }).
    catch(function(err){
      console.log(err);
    })
  }
  

  function showNote(id){
    fetch('/get_note/'+id).
    then(function(res){
      return res.text();
    }).
    then((res)=>{
      $("#note-target").html(res);
    }).
    catch(function(err){
      console.log(err);
    })
  }
  
  
  function newFolder(){
    console.log('New Folder');
    fetch('/folders/new').
    then(function(res){
      return res.text();
    }).
    then(function(res){
      $('#modal-holder').html(res).find('.modal').modal()
    }).
    catch(function(err){
      console.log(err);
    });
  }
  
</script>
