<h1>Folders</h1>
<%= link_to "+ New Folder", '/folders/new', class: "btn btn-secondary" %>
<div class="row">
  <div class="col-sm-4 list-group">
    <% @folders.each do |folder| %>
      <a class="list-group-item list-group-item-action" onClick="showNotes(<%= folder.id %>)" >
        <%= folder.name %>
      </a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function showNotes(id){
    const url = '/get_notes/'+id;
    console.log(url)
    fetch(url).
    then(function(res){
      return res.json();
    }).
    then(function(res){
      console.log(res);
    }).
    catch(function(err){
      console.log(err);
    })
  }
</script>
