// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foldersidemenu {
  position: fixed;
  left: 0;
  top:0;
  background: LightSeaGreen;
  height:100%;
  width: 200px;
  z-index:0;
  padding-top:60px;
}

.item {
  cursor: pointer;
  border-bottom: 1px black solid;
  padding: 5px 10px;
}

#new-folder-plus {
  background: LightGreen;
  border-radius: 50%;
  left:0;
  height: 25px;
  width: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#new-folder {
  text-align: center;
  border: 1px black solid;
  margin: 5px 15px;
  padding: 5px 10px;
  box-shadow: 3px 3px;
}

.main {
  margin-left:400px;
  padding: 20px;
}

.cancel-link, .cancel-link:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.button {
  text-align: center;
  border: 1px black solid;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  box-shadow: 3px 3px;
  cursor: pointer;
}

.input {
  border: 2px solid black;
  box-shadow: 3px 3px;
  display: block;
  width: 40%;
}

.save-btn {
  background-color: LightSeaGreen;
}

.cancel-btn {
  background-color: LightGreen;
}

.center {
  margin:auto;
}
