// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.foldersidemenu {
  position: fixed;
  left: 0;
  top:0;
  background: LightSeaGreen;
  height:100%;
  width: 200px;
  z-index:0;
  padding-top:60px;
}

.notessidemenu {
  position: fixed;
  margin-left: 200px;
  left: 0;
  top:0;
  background: LightGreen;
  height:100%;
  width: 200px;
  z-index:0;
  padding-top:60px;
}

.item {
  color:black;
  cursor: pointer;
  border-bottom: 1px black solid;
  padding: 5px 10px;
}

.main {
  margin-left:400px;
  padding: 20px;
}

#new-folder-plus {
  background: SeaGreen;
  border-radius: 50%;
  color: white;
  left:0;
  height: 25px;
  width: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#new-folder {
  text-align: center;
  border: 1px black solid;
  margin: 5px 15px;
  padding: 5px 10px;
}

.inline {
  display: inline-block;
}
